/* 
    Project 1
    Marc Picornell
    May 2022
    marc [at] marcpicornell.com
*/

/* 
    Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* 
    Variables
*/
:root {
    --primary-color:;
    --background-color:;
}

/*
    Generic Selector
*/

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

html {
    background-color: black;
}



h1 {
    font-family: 'Fira Code', monospace;
    text-align: left;
    color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

/*
    Class Selector
*/
.menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 50p x;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .
/*
    Media Queries
*/

