/* 
    Project 1
    Marc Picornell
    May 2022
    marc [at] marcpicornell.com
*/

/* 
    Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* 
    Variables
*/

/* NOT USING ANY FOR NOW */

/*
    Generic Selector
*/

* {
  /* Use to reset the DOM */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* Using a monospace font for a TERMINAL look and feel */
  font-family: 'Courier Prime', monospace;
  background-color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  padding: 5px;
  width:  100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  padding-top: 1rem;
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
  }
/*
    Class Selector
*/
.terminal{
    text-transform: uppercase;
    color: #fb5;
    font-family: monospace;
    margin-top: 20px;
}

.wrapper {
  min-width: 20rem;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.header {
  background-color: black;
  /* box-shadow: 1px 1px 5px 0px gray; */
  position: sticky;
  top: 0;
  width: 100%;
}

.logo {
  display: inline-block;
  font-size: 4rem;
  margin-left: 20px;
  color: #f0fff8; /* almost white */ /* Found this effect on Stackoverflow a long time ago */
  text-shadow: 0 0 3px #80ffc0, 0 0 10px #00ff66, 0 0 20px #00ff66, 0 0 30px #00ff66;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  overflow: hidden;
}

.menu a {
  display: block;
  padding: 30px;
  color: #fb5;
}

.menu a:hover {
  background-color: #f20;
}

.nav {
  max-height: 0;
  transition: max-height .5s ease-out;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background: #fb5;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

}

.hamb-line::before,
.hamb-line::after {
  background: #fb5;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}
.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

.logo, .menu {
  line-height: 70px;
}

.year {
  color: #FF9F55;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.people {
  color: cadetblue;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  font-family: 'JetBrains Mono', monospace;
}

.footer {
  float: none;
  margin-top: 40px;
  align-content: center;
  font-size: 1rem;
  color: grey;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }

/* @media (min-width: 1025px) and (max-width: 1280px) {
  
  I will finish the media query later.
  The site is responsive but lack some tweaks for all the required media queries.
  
} */

  h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    align-items: center;
    margin-top: 32px;
    }
  
  .nav {
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      font-size: 1.5rem;
      font-weight: bold;
    }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
  }

  .menu li {
      float: left;
  }
  .menu a:hover {
      background-color: transparent;
      color: #f20;
  }

  .hamb {
      display: none;
  }
}
/* Original Code used in TILDE.CLUB */

/* THEGOODS */
#fancyboi::before {
	content: "$ ";
}
@media (prefers-reduced-motion: no-preference) {
	@keyframes flash {
		50% { opacity: 0; }
	}
	@keyframes reveal {
		from { width: 2em; } /* Width of ::before */
		  to { width: 100%; }
	}
	#fancyboi {
		overflow: hidden;
		white-space: nowrap;
		animation: reveal 4s linear;
		text-overflow: "█";
	}
	#fancyboi::after {
		content: "█";
		animation: flash 0.5s step-end infinite;
	}
}